* {
	margin:0;
	padding:0;
}

body{
	background-image:url('img/bg3.jpg');
    background-position: center top;
    background-size: 100% auto;
	background-attachment:fixed;
	background-repeat: no-repeat;
	min-width: 660px;
}
.login-form-white {

	overflow: auto;

/*	border:2px solid;
*/	
}

.content-wrap {
	position: absolute;
	bottom: 0;
}

.chat {

	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	width: 96.5%%;
	height: 280px;
	margin-left: 22px;
	padding-bottom: 10px;
	margin-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	overflow: scroll;
	overflow-x:hidden;
	box-sizing:border-box;


}

.chat p {
	margin-bottom: 0;
}

#contentWrap{
	display: none;
	padding-top: 60px;
	margin: 0px auto;
	max-width:500px;
	min-width: 300px;
	height: 350px;
}

@keyframes float {

  	0% { -webkit-transform: translateY(0px); }
  	50% { -webkit-transform: translateY(10px); }
  	100% { -webkit-transform: translateY(0px); }
}

#loadWrap {
	display: none;
}

.load-img {
    display: block;
    padding-top: 160px;
    margin-left: auto;
    margin-right: auto;
	width: 120px;
	height:120px;
	animation-name: float;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@media only screen and (max-width:660px) {
.top-text {
	position: absolute;
	top: 3vw;
	left: 3vw;
	font-size: 10px;   
}
}

.top-text{
	position: absolute;
	top: 5vw;
	left: 5vw;
}
.top-text h1 {
	margin: 0;
}

.bar-top {
	margin: 0px auto;
	width:100%;
/*	height: 350px;*/
	height: 25vw;

}
.bar0 {
	top:0;
	z-index: -1000;
	position: fixed;
	margin: 0px auto;
	width:100%;
	height: 500px;
	color:#1a1a12;
}
.find-buddy-wrapper {
	padding-top: 60px;
	margin: 0px auto;
	max-width:500px;
	min-width: 300px;
	height: 350px;

}
.dayz-role-wrapper {
	padding-left: 40px;
	padding-top: 60px;
	margin: 0px auto;
	max-width:500px;
	min-width: 300px;
/*	height: 350px;
*/
}

.dayz-role-wrapper-text{
	color: #ECF0F1;
}

.bar1 {
	z-index: 1000;
	margin: 0px auto;
	width:100%;
	height: 500px;
 	background-color: #ECF0F1;
}

.bar2 {
	padding-bottom: 90px;
	margin: 0px auto;
	width:100%;
/*	height: 500px;
*/ 	background-color: #1a1a12; 
}